<div class="wrapper">
  <div style="position: relative">
    <webcam
      [width]="720"
      [height]="480"
      [allowCameraSwitch]="false"
      [trigger]="triggerObservable"
      (imageCapture)="onFileChange($event)"
    ></webcam>
    <!-- <div
      *ngIf="loading"
      class="loading"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
      "
    >
      Comparing...
    </div> -->

    <button *ngIf="images.length < 2" class="snap-button" (click)="capture()">
      <span class="material-icons"> photo_camera </span>
    </button>
  </div>
  <div class="photos">
    <img
      style="width: 45%"
      *ngFor="let image of images"
      [src]="image.imageAsDataUrl"
    />
  </div>
  <div
    style="
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      width: 700px;
      margin-top: 10px;
    "
  >
    <button
      class="compare-button"
      *ngIf="images.length > 1"
      (click)="compareFaces()"
    >
      Сравни
    </button>
    <button
      class="refresh"
      *ngIf="images.length"
      (click)="images = []; result = null"
    >
      <span class="material-icons"> refresh </span>
    </button>
  </div>
</div>

<div *ngIf="result">Similarity: {{ result.FaceMatches[0].Similarity }}</div>

<div class="overlay" *ngIf="showOverlay" (click)="showOverlay = false">
  <div class="success">Изображенията съвпадат</div>
</div>
